<!-- html형태를 html에 넣기 -->
<!-- js 필요없는 html만 가능함 / js 넣으려면 리액트로 -->
<button id="to-top">
    <a href="#">
        <h3>TOP</h3>
    </a>
</button>
<div class="inner">
    <div class="footer__logo">
        <a href="#">
            <h2>footer_logo</h2>
        </a>
    </div>
    <div class="foot_menu">
        <ul class="foot_menu__list">
            <li>
                <a href="#">개인정보처리방침</a>
            </li>
            <li>
                <a href="#">이메일 무단 수집 거부</a>
            </li>
            <li>
                <a href="#">회사소개</a>
            </li>
            <li>
                <a href="#">이용약관</a>
            </li>
        </ul>
    </div>
    <div class="footer__wrap">
        <div class="footer_sns">
            <a href="https://www.instagram.com/pigeon_official_kr/" target="_blank">INSTAGRAM</a>
            <a href="https://www.youtube.com/@pigeon3570" target="_blank">YOUTUBE</a>
        </div>
        <div class="footer_info">
            <div class="footer_info__txt">
                <p>
                    (주)피죤
                    <br>
                    서울특별시 강남구 논현로 531 (역삼동)
                    <br>
                    대표 : 이주연
                    <br>
                    사업자등록번호 : 122-81-11086
                    <br>
                    본사 : 02-3451-2000
                </p>
            </div>
            <div class="footer_info__copyright">
                <p>Copyright&copy; 2018 PIGEON All Rights Reserved. </p>
            </div>
        </div>
    </div>
</div>